body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0e0e0e;
  color: #fff;
}

header {
  background: #1c1c1c;
  padding: 20px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.hero {
  background: url('https://www.startpage.com/av/proxy-image?piurl=https%3A%2F%2Ftse4.mm.bing.net%2Fth%2Fid%2FOIP.O9r2JCFt_EYysOxs9B4kWwHaEK%3Fpid%3DApi&sp=1763435154T5fa4446e50b59c83d396b66c6990c80da4c841e7ed738684cb7b7ac7eed49d6e') center/cover no-repeat;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 10px black;
  font-size: 2.5rem;
  font-weight: bold;
}

section {
  padding: 30px;
  max-width: 900px;
  margin: auto;
}

h2 {
  border-left: 6px solid #3a8bff;
  padding-left: 10px;
}

.card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 12px;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

footer {
  text-align: center;
  padding: 20px;
  background: #111;
  margin-top: 40px;
  color: #aaa;
}
